<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title">
                Admin Panel
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" [routerLink]="['/admin', 1]" routerLinkActive="is-active">
                    <i class="fa fa-user marg"></i>
                    <p>Users</p>
                </a>
                <a class="list-menu-item" [routerLink]="['/admin', 2]" routerLinkActive="is-active">
                    <i class="fa fa-edit marg"></i>
                    <p>New Admin</p>
                </a>
                <a class="list-menu-item" [routerLink]="['/admin', 3]" routerLinkActive="is-active">
                    <i class="fa fa-trash marg"></i>
                    <p>Delete Account</p>
                </a>
                <hr>
                <a class="list-menu-item" (click)="logout()">
                    <i class="fa fa-sign-out marg"></i>
                    <p>Logout</p>
                </a>
            </div>
        </div>

        <div *ngIf="window==1" class="tasks-list-container">
            <div class="top-bar">
                <br>
                <br>
                <br>
            </div>

            <div *ngIf="!users">
                <span class="alert-message" >Choose a list...</span>
            </div>

            <div class="scroll" *ngIf="users" style="overflow-y: scroll; max-height: 80%;">
                <div *ngFor="let user of users">
                    <div class="task">
                        <p>
                            {{user.email}}
                            <span class="between">| </span>
                            <span *ngIf="user.role!='Admin'" class="role">{{user.role}}</span>
                            <span *ngIf="user.role=='Admin'" class="role2">{{user.role}}</span>
                        </p>
                        <div class="buttons">
                            <button class="button is-danger minbut" (click)="deleteUser(user.id)">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="window==2" class="tasks-list-container">
            <div class="top-bar">
                <br>
                <br>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && registerAdmin()" class="scroll">
                <div class="login-container">
                    <div class="field">
                      <p class="control has-icons-left has-icons-right">
                        <input
                          [class.is-invalid]="registerForm.get('email')?.errors && registerForm.get('email')?.touched" 
                          formControlName="email"
                          class="input"
                          type="email" 
                          placeholder="Email">
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope has-text-success"></i>
                        </span>
                      </p>
                      <div class="invalid-feedback" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
                        Please enter email.
                      </div>
                      <div class="invalid-feedback" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
                        Please enter correct email format.
                      </div>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input 
                          [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched" 
                          formControlName="password"
                          class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock has-text-success"></i>
                        </span>
                      </p>
                      <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                        Please enter password.
                      </div>
                      <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">
                        Password must be at least 3 characters.
                      </div>
                    </div>
                    <div *ngIf="error" style="color: red;">
                      {{error.error}}
                    </div>
                    <div *ngIf="saved" style="color: green;">
                      New Admin created.
                    </div>
                    <div class="field">
                      <p class="control has-text-centered">
                        <button [disabled]="!registerForm.valid" type="submit" class="button is-success has-text-light">
                          <i class="fa fa-save"></i>
                          &nbsp; 
                          Create
                        </button>
                      </p>
                    </div>
                </div>
              </form>

        </div>

        <div *ngIf="window==3" class="tasks-list-container">
            <div class="top-bar">
                <br>
                <br>
            </div>

            <form [formGroup]="deleteForm" (ngSubmit)="deleteForm.valid && deleteAdmin()" class="scroll">
                <div class="login-container">
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          [class.is-invalid]="deleteForm.get('password')?.errors && deleteForm.get('password')?.touched" 
                          formControlName="password"
                          class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock has-text-success"></i>
                        </span>
                      </p>
                      <div class="invalid-feedback" *ngIf="deleteForm.get('password')?.errors && deleteForm.get('password')?.touched">
                        Please enter password.
                      </div>
                    </div>
                    <div *ngIf="error2" style="color: red;">
                      {{error2.error}}
                    </div>
                    <div class="field">
                      <p class="control is-pulled-right">
                        <button [disabled]="!deleteForm.valid" type="submit" class="button is-danger has-text-light">
                          <i class="fa fa-trash"></i>
                          &nbsp; 
                          Delete
                        </button>
                      </p>
                    </div>
                </div>
              </form>

        </div>

    </div>
</div>