<div class="centered-content">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="loginForm.valid && login()">
        <h1 class="title">LOGIN</h1>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input
              [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
              formControlName="email"
              class="input"
              type="email"
              placeholder="Email...">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope has-text-success"></i>
            </span>
          </p>
          <div class="invalid-feedback" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
            Please enter email.
          </div>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
              formControlName="password"
              class="input"
              type="password"
              placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fa fa-lock has-text-success"></i>
            </span>
          </p>
          <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            Please enter password.
          </div>
        </div>
        <div *ngIf="error" style="color: red;">
          {{error.error}}
        </div>
        <div class="field">
          <p class="control is-pulled-right">
            <button [disabled]="!loginForm.valid" type="submit" class="button is-success has-text-light">
              Login
            </button>
          </p>
        </div>
        <br>
        <div class="field">
          <p class="has-text-grey">Don't have an account? <a routerLink="/signup">Sign up</a> now!</p>
        </div>
      </form>
</div>