.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    background: white;
    height: 45%;
    min-height: 350px;
    width: 25%;
    min-width: 250px;
    border-radius: 2%;
    border: 3px rgb(10, 180, 100) solid;
    display: flex;
    max-width: 80%;
    max-height: 80%;
    padding: 2%;
}

.title {
    color: rgb(10, 180, 100);
}

input {
    color: rgb(10, 180, 100);
    border: 1px rgb(10, 180, 100) solid
}

button {
    &:hover {
        opacity: 0.8;
        border: 1px rgb(10, 180, 100) solid;
    }

    &:active {
        box-shadow: 0 0 10px rgb(20, 50, 100);
    }
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
}
