<div class="centered-content">
    <form [formGroup]="editForm" class="modal-box" (ngSubmit)="editForm.valid && saveList()">
        <h1 class="title">
            Edit list
        </h1>
        <input
            [class.is-invalid]="editForm.get('title')?.errors && editForm.get('title')?.touched" 
            formControlName="title" type="text" 
            type="text"
            class="input has-background-light is-medium" 
            placeholder="Enter new name..."   
            value="{{list.name}}">

        <div class="invalid-feedback" *ngIf="editForm.get('title')?.hasError('required') && editForm.get('title')?.touched">
            Title cannot be unchanged or empty.
        </div>
        <br> <br>
        <div class="buttons">
            <button type="button" class="button button1" (click)="cancel()"><i class="fa fa-ban"></i> &nbsp; Cancel</button>
            <button [disabled]="!editForm.valid" type="submit" class="button button2" (click)="saveList()"><i class="fa fa-save"></i> &nbsp; Save</button>
        </div>
    </form>
</div>